<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">


			<ul class="nav navbar-nav navbar-right">
				<li><a href="https://luddy.indianapolis.iu.edu/academics/departments/biomedical-engineering/index.html">Department of Biomedical Engineering and Informatics</a></li>
				<li><a href="https://indianapolis.iu.edu/">IU Indianapolis</a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/about">About</a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/recruitment">Recruitment</a></li>
			</ul>

		
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
